<h1><%= "FLIGHT #{@booking.flight_id}" %></h1>
<p><%= "Number of Passengers:#{@booking.number_of_passengers}" %></p>
  <h3>Names:</h3>
<% @booking.passengers.each do |p| %>
  <p><%= p.name %></p>
<%end%>
